# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea
/build
/jclusterspiderifier/build
/sample_android_google_maps/build
/sample_android_mapbox/build
/sample_android_osmdroid/build
/sample_javafx_mapjfx/build
/sample_javafx_gmapsfx/build